<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.incampus">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login"></activity>
        <activity
            android:name=".Activity.CreateCommunityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".Activity.PhoneNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".Activity.SuccessGroupCreate"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Activity.Categories"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".Activity.Walkthrough"
            android:screenOrientation="portrait"
            android:theme="@style/Wlkthr" />
        <activity
            android:name=".Activity.SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/SignUp" /> <!-- android:windowSoftInputMode="adjustResize" -->
        <activity
            android:name=".Activity.AddPfP"
            android:screenOrientation="portrait"
            android:theme="@style/SignUp" />
        <activity
            android:name=".Activity.SignIn"
            android:screenOrientation="portrait"
            android:theme="@style/Login" /> <!-- android:windowSoftInputMode="adjustResize" -->
        <activity
            android:name=".Activity.Info"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".Activity.OTP"
            android:screenOrientation="portrait"
            android:theme="@style/Login" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>